.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
}

.mainHeading {
    font-size: 3rem;
}

.navBarButtons {
    display: none;
}

.headingContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
}

@media only screen and (min-width: 600px) {
    .navBarButtons {
        display: flex;
        gap: 5px;
    }

    .mainHeading {
        font-size: 5rem;
    }
}

.recipeList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    display: flex;
    width: 25rem;
    box-shadow: 0 0 5px rgba(136, 136, 136, 0.7);
    height: auto;
    padding: 10px;
}

.heading {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.image {
    padding: 10px 0 20px 0;
}

.recipeText {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.paragraph {
    text-align: left;
}